.picture {
    background-color: rgba(197, 195, 195, 0.37);

    img {
        object-fit: contain;
        max-height: 20rem;;

        &:hover { 
                  scale: 0.95;
                  transition-duration: 0.5s;
                  transition-property: all;
                  filter: grayscale(60%);
                }
    }

    ::marker {
        display: none;
        color: transparent;
    }
}

@media (max-width: 900px) {

    ul {
        padding-left : 1rem;
        padding-right: 1rem;
    }
}